.lead__title {
  width: 90%;
  padding: 0;
  margin: 48px auto 0;
  text-align: center;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) {
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}
