.page__place {
  margin-top: 49px;
}

@media (min-width: 768px) {
  .page__place {
    margin-top: 73px;
  }
}

@media (min-width: 1024px) {
  .page__place {
    margin-top: 80px;
  }
}

.page__place:first-child {
  margin-top: 0;
}
