.intro {
  align-self: flex-start;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (min-width: 768px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .intro {
    max-width: 690px;
    padding-top: 92px;
    padding-bottom: 92px;
  }
}
