.intro {
  width: 90%;
  margin: 0 auto;
  padding: 64px 0;
}

@media (min-width: 768px) {
  .intro {
    width: 720px;
    padding: 88px 0;
    margin-left: 24px;
  }
}

@media (min-width: 1024px) {
  .intro {
    width: 690px;
    padding: 92px 0;
    margin-left: 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    width: 690px;
    padding: 92px 0;
    margin-left: 148px;
  }
}
