.intro {
  width: 90%;
  padding: 64px 0;
}

@media (min-width: 768px) {
  .intro {
    width: 720px;
    padding: 88px 0;
  }
}

@media (min-width: 1024px) {
  .intro {
    width: 690px;
    padding: 92px 0;
  }
}
