.cover__title {
  position: relative;
  z-index: 1;
  width: 288px;
  margin: 0 auto 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    margin-bottom: 32px;
  }
}
