.footer {
  padding-top: 64px;
  padding-left: 16px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    padding: 89px 24px 0;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 92px 48px 0;
  }
}
