.footer {
  padding-top: 64px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 89px;
    padding-bottom: 32px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-top: 92px;
  }
}
